<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-apple-advertising" version="1.0.0">
    <name>Cordova Apple Advertising</name>
    <description>Get iOS IDFA</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>

    <engines>
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>

    <js-module src="www/AppleAdvertising.js" name="AppleAdvertising">
        <clobbers target="AppleAdvertising" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppleAdvertising">
                <param name="ios-package" value="AppleAdvertising" />
            </feature>
        </config-file>

        <source-file src="src/ios/AppleAdvertising.swift" />
    </platform>
</plugin>
